<div class="body">
  <div class="navbar">
    <li class="logo" routerLink="/cinemas">
      <span id="man">VAS</span> -<span id="alt">Cinema</span>
    </li>
  </div>
  <div class="main">
    <div class="area">
      <div class="showcase-content" *ngIf="!loggedIn">
        <div class="formm">
          <form>
            <h1>Sign In</h1>
            <div class="info">
              <input
                class="email"
                type="email"
                name="email"
                placeholder="Email or phone number"
                [(ngModel)]="email"
              />
              <br />
              <input
                class="email"
                name="password"
                type="password"
                placeholder="Password"
                [(ngModel)]="password"
              />
            </div>
            <div class="btn">
              <button
                class="btn-primary"
                [class.validate]="validating"
                type="submit"
                (click)="signIn($event)"
              >
                {{ validating ? "Logging in!!" : "Sign In" }}
              </button>
            </div>
            <div class="help">
              <div>
                <input
                  value="true"
                  type="checkbox"
                  (change)="rememberUser($event)"
                /><label>Remember me</label>
              </div>

              <a routerLink="/cinemas">Need Help ?</a>
            </div>
          </form>
        </div>
        <div class="more">
          <p>
            Only Authenticated Admin users are allowed to access and update
            movie data.
          </p>
        </div>
      </div>
      <div class="showcase-content" *ngIf="addMovie" id="content-center">
        <div class="formm">
          <form>
            <h1>Add Movie</h1>
            <div class="info">
              <input
                class="email"
                type="text"
                placeholder="Movie Title"
                name="title"
                [(ngModel)]="title"
              />
              <br />
              <input
                class="email"
                type="text"
                name="genre"
                placeholder="Genre"
                [(ngModel)]="genre"
              />
              <br />
              <input
                class="email"
                type="text"
                name="duration"
                placeholder="duration"
                [(ngModel)]="duration"
              />
            </div>
            <div class="btn">
              <button
                class="btn-primary"
                type="submit"
                (click)="addMovies($event)"
              >
                Add Movie
              </button>
            </div>
            <div class="help">
              <button
                (click)="logOut()"
                style="
                  background: none;
                  outline: none;
                  border: none;
                  color: gray;
                "
              >
                Log Out
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
