<!-- <h1>Sign in works</h1> -->
<div class="body">
  <div class="container">
    <form id="form" class="form">
        <h2>{{ signUp ? 'register With Us':'Sign up'}}</h2>
      <div *ngIf="page" class="form-control">
        <label for="email">Email</label>
        <input
          type="email"
          placeholder="email@"
          [(ngModel)]="email"
          name="email"
        /><br />
        <label for="password">Password</label>
        <input
          type="password"
          placeholder="password"
          min="5"
          required
          [(ngModel)]="password"
          name="password"
        /><br />
        <p>{{ notification }}</p>

        <button type="button" (click)="logIn()">enter</button>
        <button type="reset" class="negative">reset</button>
        <p>
          Dont have an accout? sign up
          <button type="button" (click)="signup()">here</button>
        </p>
      </div>
      <div *ngIf="signUp" class="form-control">
        <label for="email"> Email</label>
        <input
          type="email"
          placeholder="email@"
          [(ngModel)]="email"
          name="email"
        />
        <br />
        <label for="password">PassWord</label>
        <input type="password" [(ngModel)]="password" name="password" /><br />
        <p>{{ notification }}</p>
        <button type="button" (click)="signupno()">SignUp</button>
        <button type="button" (click)="back()">Back</button>
        <button *ngIf="isLoged_in" type="button" (click)="logout()">
          'logout'
        </button>
      </div>
    </form>
  </div>
</div>
