
    <!-- <header class="header d-flex container-fluid">
      <h1>
        <a href="/">VAS<span id="fade"> Cinema</span></a>
      </h1>
      <ul>
        <li><a href="/">About</a></li>
        <li><a routerLink="/cinemas">Cinemas</a></li>
      </ul>
    </header>
    <div class="container-fluid main"> -->
      <!-- <ul *ngFor="let cinema of cinemas">
        <li (click)="getLocationShowingTime(cinema.location)">
          {{ cinema.location }}
        </li>
      </ul>

      <div>
        <h1 *ngIf="location">
          {{ location }}
        </h1>
        <ul>
          <li></li>
        </ul>
      </div>

      <br />
      <br />
      <br /> -->
      <!-- <ul *ngFor="let movie of movies">
        <li>{{ movie.title }}</li>
      </ul>
    </div> -->
   
    <router-outlet></router-outlet>

    <!-- <footer class="footer bg-light text-center text-lg-start container-fluid ">
      <h3>
        <a href="/">VAS<span> Cinema</span></a>
      </h3>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    </footer> -->
