<!-- <div class="container">
  <h1>CINEMAS</h1>
  <ul>
    <li *ngFor="let cinema of cinemas">
      <button
        (click)="getLocationShowingTime(cinema.location)"
        class="btn btn-primary"
      >
        {{ cinema.location }}
      </button>
    </li>
  </ul>

</div> -->
<div class="body">
  <div class="navbar">
    <li class="logo"><span id="man">VAS</span>- <span id="alt">Cinema</span></li>
    <a routerLink="/log-in" class="signin">Sign In</a>
  </div>
  <div class="main">
    <div class="area">
      <h1>Unlimited movies, TV <br />shows, and more.</h1>
      <div class="actions">
        <p class="search"> View Shows</p>
        <p class="search"> Cinemas</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footercon">
      <div class="flex1">
        <h5>Questions? <a href="tel:+8155386242"> 08155386242</a></h5>
        <h5> Vas Cinema</h5>
      </div>
    </div>
  </div>
  <div class="end">
    <h2></h2>
    <h2></h2>
  </div>
</div>
